{% extends 'base.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block content %}
    <section>
        <h1 class="text-lg font-medium text-black mb-9">Administration
            <span class="font-bold text-red-600">des utilisateurs</span></h1>
        <button class="flex flex-col items-center mt-9 w-full">
            <div class="relative flex w-full bg-red-600 flex-row p-3 items-center justify-center rounded-lg overflow-hidden border cursor-pointer transition hover:bg-red-700 text-white">
                    <span class="font-bold mr-2">
                        <svg class="h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>plus-circle</title><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"/></svg>
                    </span> <span class="capitalize font-medium text-md">Ajouter un utilisateur</span>
            </div>
        </button>
    </section>
    <section class="mt-9">

        <div class="flex flex-col">
            <div class=" overflow-x-auto pb-4">
                <div class="min-w-full inline-block align-middle">
                    <div class="mb-9">
                        <label class="mx-auto mt-8 relative bg-white flex flex-col md:flex-row items-center justify-center border border-gray-300 py-2 px-2 rounded-xl gap-2" for="search-bar">
                            <input id="search-bar" placeholder="Nom, Prénom, Adresse Email, Numéro de téléphone ..." name="q" class="px-3 py-1 w-full rounded-md flex-1 outline-none bg-white" required="">
                            <button type="submit" class="w-full md:w-auto px-3 py-1.5 bg-red-600 border-red-600 hover:bg-red-700 text-white fill-white duration-100 border border-gray-300 overflow-hidden relative rounded-lg text-md transition">
                                <div class="flex items-center transition-all opacity-1">
                                        <span class="text-sm font-semibold whitespace-nowrap truncate mx-auto">
                                            Rechercher
                                        </span>
                                </div>
                            </button>
                        </label>
                    </div>

                    <div class="overflow-hidden  border rounded-lg border-gray-300">
                        <table class="table-auto min-w-full rounded-xl">
                            <thead>
                            <tr class="bg-gray-50">
                                <th class="">
                                    <div class="flex items-center py-5 px-5 ">
                                        <input type="checkbox" value="" class="w-5 h-5 appearance-none border border-gray-300  rounded-md mr-2 hover:border-indigo-500 hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-indigo-100">
                                    </div>
                                </th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> ID</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize min-w-[350px]"> Nom &amp; Email</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> Date d'inscription</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> Status</th>
                                <th scope="col" class="p-5 text-left whitespace-nowrap text-sm leading-6 font-semibold text-gray-900 capitalize"> Actions</th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-300 ">
                            <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                                <td class="">
                                    <div class="flex items-center py-5 px-5 ">
                                        <input type="checkbox" value="" class="w-5 h-5 appearance-none border border-gray-300  rounded-md mr-2 hover:border-indigo-500 hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-indigo-100">
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> 20010510</td>
                                <td class=" px-5 py-3">
                                    <div class="w-48 flex items-center gap-3">
                                        <img src="https://pagedone.io/asset/uploads/1697536419.png" alt="Floyd image">
                                        <div class="data">
                                            <p class="font-normal text-sm text-gray-900">Floyd Miles</p>
                                            <p class="font-normal text-xs leading-5 text-gray-400"> floydmiles@pagedone.io </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> Jun. 24, 2023</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                    <div class="py-1.5 px-2.5 bg-emerald-50 rounded-full flex justify-center w-20 items-center gap-1">
                                        <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2.5" cy="3" r="2.5" fill="#059669"></circle>
                                        </svg>
                                        <span class="font-medium text-xs text-emerald-600 ">Actif</span>
                                    </div>
                                </td>
                                <td class="flex p-5 items-center gap-0.5">
                                    <button class="p-2 rounded-lg transition text-orange-400 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>pencil</title>
                                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
                                        </svg>
                                    </button>
                                    <button class="p-2  rounded-lg transition text-red-600 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>delete</title>
                                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                                <td class="">
                                    <div class="flex items-center py-5 px-5 ">
                                        <input type="checkbox" value="" class="w-5 h-5 appearance-none border border-gray-300  rounded-md mr-2 hover:border-indigo-500 hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-indigo-100">
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> 20010511</td>
                                <td class="w-48 px-5 py-3">
                                    <div class="flex items-center gap-3">
                                        <img src="https://pagedone.io/asset/uploads/1697536435.png" alt="Savannah image">
                                        <div class="data">
                                            <p class="font-normal text-sm text-gray-900">Savannah Nguyen</p>
                                            <p class="font-normal text-xs leading-5 text-gray-400"> savannahng@pagedone.io </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> Feb. 23, 2023</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                    <div class="py-1.5 px-2.5 bg-red-50 rounded-full flex w-20 justify-center items-center gap-1">
                                        <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2.5" cy="3" r="2.5" fill="#DC2626"></circle>
                                        </svg>
                                        <span class="font-medium text-xs text-red-600 ">Bloqué</span>
                                    </div>
                                </td>
                                <td class="flex p-5 items-center gap-0.5">
                                    <button class="p-2 rounded-lg transition text-orange-400 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>pencil</title>
                                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
                                        </svg>
                                    </button>
                                    <button class="p-2  rounded-lg transition text-red-600 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>delete</title>
                                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                                <td class="">
                                    <div class="flex items-center py-5 px-5 ">
                                        <input type="checkbox" value="" class="w-5 h-5 appearance-none border border-gray-300  rounded-md mr-2 hover:border-indigo-500 hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-indigo-100">
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> 20010512</td>
                                <td class="w-48 px-5 py-3 whitespace-nowrap">
                                    <div class="flex items-center gap-3">
                                        <img src="https://pagedone.io/asset/uploads/1697536451.png" alt="Cameron image">
                                        <div class="data min-w-[150px]">
                                            <p class="font-normal text-sm text-gray-900 whitespace-nowrap">Cameron Williamson</p>
                                            <p class="font-normal text-xs leading-5 text-gray-400 whitespace-nowrap"> cameron@pagedone.io </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> Oct. 23, 2023</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                    <div class="py-1.5 px-2.5 bg-amber-50 rounded-full flex items-center justify-center w-20 gap-1">
                                        <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2.5" cy="3" r="2.5" fill="#D97706"></circle>
                                        </svg>
                                        <span class="font-medium text-xs text-amber-600 ">Attente</span>
                                    </div>
                                </td>
                                <td class="flex p-5 items-center gap-0.5">
                                    <button class="p-2 rounded-lg transition text-orange-400 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>pencil</title>
                                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
                                        </svg>
                                    </button>
                                    <button class="p-2  rounded-lg transition text-red-600 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>delete</title>
                                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                                <td class="">
                                    <div class="flex items-center py-5 px-5 ">
                                        <input type="checkbox" value="" class="w-5 h-5 appearance-none border border-gray-300  rounded-md mr-2 hover:border-indigo-500 hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-indigo-100">
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> 20010513</td>
                                <td class="w-48 px-5 py-3">
                                    <div class="flex items-center gap-3">
                                        <img src="https://pagedone.io/asset/uploads/1697536466.png" alt="Darrell image">
                                        <div class="data">
                                            <p class="font-normal text-sm text-gray-900">Darrell Steward</p>
                                            <p class="font-normal text-xs leading-5 text-gray-400"> darrellstew@pagedone.io </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> Jul. 12, 2023</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                    <div class="py-1.5 px-2.5 bg-red-50 rounded-full flex items-center w-20 justify-center gap-1">
                                        <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2.5" cy="3" r="2.5" fill="#DC2626"></circle>
                                        </svg>
                                        <span class="font-medium text-xs text-red-600 ">Bloqué</span>
                                    </div>
                                </td>
                                <td class="flex p-5 items-center gap-0.5">
                                    <button class="p-2 rounded-lg transition text-orange-400 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>pencil</title>
                                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
                                        </svg>
                                    </button>
                                    <button class="p-2  rounded-lg transition text-red-600 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>delete</title>
                                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                                <td class="">
                                    <div class="flex items-center py-5 px-5 ">
                                        <input type="checkbox" value="" class="w-5 h-5 appearance-none border border-gray-300  rounded-md mr-2 hover:border-indigo-500 hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-indigo-100">
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> 20010514</td>
                                <td class="w-48 px-5 py-3">
                                    <div class="flex items-center gap-3">
                                        <img src="https://pagedone.io/asset/uploads/1697536479.png" alt="Laura image">
                                        <div class="data">
                                            <p class="font-normal text-sm text-gray-900">Laura Bran</p>
                                            <p class="font-normal text-xs leading-5 text-gray-400"> laurabran@pagedone.io </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> Sep. 29, 2023</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                    <div class="py-1.5 px-2.5 bg-emerald-50 rounded-full flex justify-center w-20 items-center gap-1">
                                        <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2.5" cy="3" r="2.5" fill="#059669"></circle>
                                        </svg>
                                        <span class="font-medium text-xs text-emerald-600 ">Actif</span>
                                    </div>
                                </td>
                                <td class="flex p-5 items-center gap-0.5">
                                    <button class="p-2 rounded-lg transition text-orange-400 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>pencil</title>
                                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
                                        </svg>
                                    </button>
                                    <button class="p-2  rounded-lg transition text-red-600 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>delete</title>
                                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                                <td class="">
                                    <div class="flex items-center py-5 px-5 ">
                                        <input type="checkbox" value="" class="w-5 h-5 appearance-none border border-gray-300  rounded-md mr-2 hover:border-indigo-500 hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-indigo-100">
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> 20010515</td>
                                <td class="w-48 px-5 py-3">
                                    <div class="flex items-center gap-3">
                                        <img src="https://pagedone.io/asset/uploads/1697536494.png" alt="Alfred image">
                                        <div class="data">
                                            <p class="font-normal text-sm text-gray-900">Alfred Frook</p>
                                            <p class="font-normal text-xs leading-5 text-gray-400"> alfredfrook@pagedone.io</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> Dec. 02, 2023</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                    <div class="py-1.5 px-2.5 bg-emerald-50 rounded-full flex justify-center w-20 items-center gap-1">
                                        <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2.5" cy="3" r="2.5" fill="#059669"></circle>
                                        </svg>
                                        <span class="font-medium text-xs text-emerald-600 ">Actif</span>
                                    </div>
                                </td>
                                <td class="flex p-5 items-center gap-0.5">
                                    <button class="p-2 rounded-lg transition text-orange-400 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>pencil</title>
                                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
                                        </svg>
                                    </button>
                                    <button class="p-2  rounded-lg transition text-red-600 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>delete</title>
                                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                                <td class="">
                                    <div class="flex items-center py-5 px-5 ">
                                        <input type="checkbox" value="" class="w-5 h-5 appearance-none border border-gray-300  rounded-md mr-2 hover:border-indigo-500 hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-indigo-100">
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> 20010516</td>
                                <td class="w-48 px-5 py-3 whitespace-nowrap">
                                    <div class="flex items-center gap-3">
                                        <img src="https://pagedone.io/asset/uploads/1697536512.png" alt="Claire image">
                                        <div class="data min-w-[150px]">
                                            <p class="font-normal text-sm text-gray-900 whitespace-nowrap">Claire Tran </p>
                                            <p class="font-normal text-xs leading-5 text-gray-400 whitespace-nowrap"> clairetran@pagedone.io </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> Jan. 09, 2023</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                    <div class="py-1.5 px-2.5 bg-amber-50 rounded-full flex items-center justify-center w-20 gap-1">
                                        <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2.5" cy="3" r="2.5" fill="#D97706"></circle>
                                        </svg>
                                        <span class="font-medium text-xs text-amber-600 ">Attente</span>
                                    </div>
                                </td>
                                <td class="flex p-5 items-center gap-0.5">
                                    <button class="p-2 rounded-lg transition text-orange-400 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>pencil</title>
                                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
                                        </svg>
                                    </button>
                                    <button class="p-2  rounded-lg transition text-red-600 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>delete</title>
                                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                                <td class="">
                                    <div class="flex items-center py-5 px-5 ">
                                        <input type="checkbox" value="" class="w-5 h-5 appearance-none border border-gray-300  rounded-md mr-2 hover:border-indigo-500 hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-indigo-100">
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> 20010517</td>
                                <td class="w-48 px-5 py-3">
                                    <div class="flex items-center gap-3">
                                        <img src="https://pagedone.io/asset/uploads/1697536525.png" alt="Sam image">
                                        <div class="data">
                                            <p class="font-normal text-sm text-gray-900">Sam John</p>
                                            <p class="font-normal text-xs leading-5 text-gray-400"> samjohn@pagedone.io </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> Mar. 15, 2023</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                    <div class="py-1.5 px-2.5 bg-red-50 rounded-full flex w-20 justify-center items-center gap-1">
                                        <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2.5" cy="3" r="2.5" fill="#DC2626"></circle>
                                        </svg>
                                        <span class="font-medium text-xs text-red-600 ">Bloqué</span>
                                    </div>
                                </td>
                                <td class="flex p-5 items-center gap-0.5">
                                    <button class="p-2 rounded-lg transition text-orange-400 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>pencil</title>
                                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
                                        </svg>
                                    </button>
                                    <button class="p-2  rounded-lg transition text-red-600 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>delete</title>
                                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            <tr class="bg-white transition-all duration-500 hover:bg-gray-50">
                                <td class="">
                                    <div class="flex items-center py-5 px-5 ">
                                        <input type="checkbox" value="" class="w-5 h-5 appearance-none border border-gray-300  rounded-md mr-2 hover:border-indigo-500 hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-indigo-100">
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> 20010518</td>
                                <td class="w-48 px-5 py-3 whitespace-nowrap">
                                    <div class="flex items-center gap-3">
                                        <img src="https://pagedone.io/asset/uploads/1697536552.png" alt="Richard image">
                                        <div class="data min-w-[150px]">
                                            <p class="font-normal text-sm text-gray-900 whitespace-nowrap">Richard Riccio </p>
                                            <p class="font-normal text-xs leading-5 text-gray-400 whitespace-nowrap"> richardriccio@pagedone.io </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900"> Apr. 02, 2023</td>
                                <td class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-gray-900">
                                    <div class="py-1.5 px-2.5 bg-amber-50 rounded-full flex items-center justify-center w-20 gap-1">
                                        <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="2.5" cy="3" r="2.5" fill="#D97706"></circle>
                                        </svg>
                                        <span class="font-medium text-xs text-amber-600 ">Attente</span>
                                    </div>
                                </td>
                                <td class="flex p-5 items-center gap-0.5">
                                    <button class="p-2 rounded-lg transition text-orange-400 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>pencil</title>
                                            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
                                        </svg>
                                    </button>
                                    <button class="p-2  rounded-lg transition text-red-600 flex item-center hover:bg-black/10">
                                        <svg class="h-5 w-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                            <title>delete</title>
                                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex justify-center items-center mt-9">
                        <nav class="flex items-center justify-between">
                            <div class="flex-1 items-center grid grid-cols-3">
                                <div class="flex items-center">
                                    <div class="pl-2 text-sm font-medium">
                                        Affichage de <span class="text-red-600">10</span> éléments sur <span class="text-red-600">40</span>
                                    </div>
                                </div>
                                <div class="flex items-center justify-center">
                                    <div class="flex items-center space-x-2">
                                        <label>
                                            <select class="h-8 text-sm pr-8 leading-none transition duration-75 border-gray-300 rounded-lg shadow-sm outline-none focus:border-red-500 focus:ring-1 focus:ring-inset focus:ring-red-500">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="-1">All</option>
                                            </select>
                                            <span class="text-sm font-medium">per page</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="flex items-center justify-end">
                                    <div class="py-3 border rounded-lg">
                                        <ol class="flex items-center text-sm text-gray-500 divide-x divide-gray-300">
                                            <li>
                                                <button type="button" class="relative flex items-center justify-center font-medium min-w-[2rem] px-3 h-12 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-red-500/10 focus:ring-2 focus:ring-red-500 transition text-red-600" aria-label="Previous" rel="prev">
                                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                                    </svg>
                                                </button>
                                            </li>
                                            <li><button type="button" class="relative flex items-center justify-center font-medium min-w-[2rem] px-3 h-12 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-red-500/10 focus:ring-2 focus:ring-red-500 focus:text-red-600 transition"><span>1</span></button></li>
                                            <li><button type="button" class="relative flex items-center justify-center font-medium min-w-[2rem] px-3 h-12 -my-3 rounded-md outline-none transition text-red-600 filament-tables-pagination-item-active focus:underline bg-red-500/10 ring-2 ring-red-500"><span>2</span></button></li>
                                            <li><button type="button" class="relative flex items-center justify-center font-medium min-w-[2rem] px-3 h-12 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-red-500/10 focus:ring-2 focus:ring-red-500 focus:text-red-600 transition"><span>3</span></button></li>
                                            <li><button type="button" class="relative flex items-center justify-center font-medium min-w-[2rem] px-3 h-12 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-red-500/10 focus:ring-2 focus:ring-red-500 focus:text-red-600 transition"><span>4</span></button></li>
                                            <li><button type="button" class="relative flex items-center justify-center font-medium min-w-[2rem] px-3 h-12 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-red-500/10 focus:ring-2 focus:ring-red-500 focus:text-red-600 transition"><span>5</span></button></li>
                                            <li><button type="button" class="relative flex items-center justify-center font-medium min-w-[2rem] px-3 h-12 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-red-500/10 focus:ring-2 focus:ring-red-500 focus:text-red-600 transition"><span>6</span></button></li>
                                            <li><button type="button" class="relative flex items-center justify-center font-medium min-w-[2rem] px-3 h-12 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-red-500/10 focus:ring-2 focus:ring-red-500 focus:text-red-600 transition"><span>...</span></button></li>
                                            <li><button type="button" class="relative flex items-center justify-center font-medium min-w-[2rem] px-3 h-12 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-red-500/10 focus:ring-2 focus:ring-red-500 focus:text-red-600 transition"><span>9</span></button></li>
                                            <li><button type="button" class="relative flex items-center justify-center font-medium min-w-[2rem] px-3 h-12 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-red-500/10 focus:ring-2 focus:ring-red-500 focus:text-red-600 transition"><span>10</span></button></li>
                                            <li>
                                                <button type="button" class="relative flex items-center justify-center font-medium min-w-[2rem] px-3 h-12 -my-3 rounded-md outline-none hover:bg-gray-500/5 focus:bg-red-500/10 focus:ring-2 focus:ring-red-500 transition text-red-600" aria-label="Next" rel="next">
                                                    <svg class="w-5 h-5 rtl:scale-x-[-1]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                                                    </svg>
                                                </button>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
