{% extends 'base.html.twig' %}

{% block title %}Administration des medias{% endblock %}

{% block content %}
    <section>
        <h1 class="text-lg font-medium text-black mb-9">Ajouter <span class="font-bold text-red-600">un film/une série</span></h1>
        <a href="admin_films.html.twig" class="underline decoration-2 decoration-red-400 hover:text-red-600 inline-flex items-center"><svg class="fill-current h-4 w-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-left</title><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg> Revenir à la liste des films</a>
    </section>
    <section class="mt-9">
        <form class="mt-10 space-y-3">
            <div class="relative flex space-x-3">
                <input class="w-2/3 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="firstname" type="text" placeholder="Nom du film"/>
                <select class="w-1/3 px-8 py-4 ml-0 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="type">
                    <option selected>Type</option>
                    <option value="movie">Film</option>
                    <option value="tvshow">Série</option>
                </select>
            </div>
            <div class="relative">
                <input class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="cover" type="url" placeholder="Image du film"/>
            </div>
            <div class="relative">
                <textarea class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="shortdesc" placeholder="Description courte" rows="3"></textarea>
            </div>
            <div class="relative">
                <textarea class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="longdesc" placeholder="Description longue" rows="10"></textarea>
            </div>
            <div class="relative">
                <div class="mx-auto">
                    <select multiple id="categories" class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white">
                        <option selected>Catégories</option>
                        <option value="action">Action</option>
                        <option value="adventure">Aventure</option>
                        <option value="scifi">Science Fiction</option>
                        <option value="comedie">Comédie</option>
                    </select>
                </div>
            </div>
            <div class="relative flex space-x-3">
                <div class="w-1/2">
                    <select multiple id="languages" class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white">
                        <option selected>Langues</option>
                        <option value="FR">Français</option>
                        <option value="EN">Anglais</option>
                        <option value="IT">Italien</option>
                        <option value="DE">Allemand</option>
                    </select>
                </div>
                <div class="w-1/2">
                    <select multiple id="subtitles" class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white">
                        <option selected>Sous titres</option>
                        <option value="FR">Français</option>
                        <option value="EN">Anglais</option>
                        <option value="IT">Italien</option>
                        <option value="DE">Allemand</option>
                    </select>
                </div>
            </div>
            <div class="relative flex space-x-3">
                <input class="w-1/3 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="releasedate" type="date" placeholder="Date de sortie"/>
                <input class="w-1/3 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="duration" type="text" placeholder="Durée"/>
                <input class="w-1/3 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="note" type="text" placeholder="Note"/>
            </div>
            <div class="relative flex space-x-3">
                <input class="w-1/2 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="youtube-trailer" type="text" placeholder="Bande annonce Youtube"/>
                <input class="w-1/2 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="allocine-trailer" type="text" placeholder="Bande annonce Allociné"/>
            </div>

            <div class="relative flex space-x-3">
                <h2 class="text-lg font-medium text-black mt-8">Les <span class="font-bold text-red-600">Épisodes</span></h2>
            </div>

            <div class="relative flex space-x-3">
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="text" placeholder="Nom"/>
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="text" placeholder="Numéro (S1E01)"/>
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="url" placeholder="Image"/>
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="url" placeholder="Description"/>
            </div>
            <button class="relative flex w-auto bg-red-600 flex-row p-2 items-center justify-center rounded-lg overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105">
                <svg class="h-5 w-5 mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>plus-circle</title><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"/></svg>
                Ajouter un autre épidode
            </button>

            <div class="relative flex space-x-3">
                <h2 class="text-lg font-medium text-black mt-8">Le <span class="font-bold text-red-600">Staff</span></h2>
            </div>

            <div class="relative flex space-x-3">
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="text" placeholder="Nom"/>
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="text" placeholder="Fonction"/>
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="url" placeholder="Image"/>
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="url" placeholder="Lien"/>
            </div>
            <button class="relative flex w-auto bg-red-600 flex-row p-2 items-center justify-center rounded-lg overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105">
                <svg class="h-5 w-5 mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>plus-circle</title><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"/></svg>
                Ajouter un autre membre du staff
            </button>

            <div class="relative flex space-x-3">
                <h2 class="text-lg font-medium text-black mt-8">Le <span class="font-bold text-red-600">Casting</span></h2>
            </div>

            <div class="relative flex space-x-3">
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="text" placeholder="Nom"/>
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="text" placeholder="Fonction"/>
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="url" placeholder="Image"/>
                <input class="w-1/4 px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" type="url" placeholder="Lien"/>
            </div>
            <button class="relative flex w-auto bg-red-600 flex-row p-2 items-center justify-center rounded-lg overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105">
                <svg class="h-5 w-5 mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>plus-circle</title><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"/></svg>
                Ajouter un autre membre du casting
            </button>


            <div class="flex items-center justify-center !mt-20">
                <button class="relative flex w-full bg-red-600 flex-row p-3 items-center justify-center rounded-lg overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105">
                    <svg class="fill-current h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>plus-circle</title><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
                    Ajouter le film/la série
                </button>
            </div>

        </form>
    </section>
{% endblock %}
