security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        users_in_memory: { memory: null }
        users_in_database:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
            # Configure your API authentication method here (e.g., JWT, OAuth)
        main:
            lazy: true
            provider: users_in_database
            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true
            logout:
                path: app_logout
                # where to redirect after logout
                # target: app_any_route

            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    role_hierarchy:
        # ROLE_FACTURATION, ROLE_SERVICE_CLIENT, ROLE_PREPARATEUR_COMMANDE
        # ROLE_PRESTATAIRE, ROLE_CLIENT, ROLE_BANNI, ROLE_VIP, ROLE_ADMIN
        # ROLE_SUPER_ADMIN

        ROLE_PRESTATAIRE: ROLE_USER
        ROLE_CLIENT: ROLE_USER
        ROLE_BANNI: ROLE_USER
        ROLE_VIP: ROLE_USER
        ROLE_ADMIN: [ROLE_PRESTATAIRE, ROLE_SERVICE_CLIENT, ROLE_PREPARATEUR_COMMANDE, ROLE_CLIENT, ROLE_BANNI, ROLE_VIP]
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    # Note: Only the *first* matching rule is applied
    access_control:
#         - { path: ^/admin, roles: ROLE_ADMIN }
#        - { path: ^/(login|register), roles: PUBLIC_ACCESS }
#        - { path: ^/, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
