{% extends 'base.html.twig' %}

{% block title %}New Property{% endblock %}

{% block body %}
    <h1>Create new Property</h1>

    {{ include('property_controller2/_form.html.twig') }}

    <a href="{{ path('app_property_controller2_index') }}">back to list</a>
{% endblock %}
