{% extends 'layouts/base.html.twig' %}

{% block header %}
    {% include 'parts/header.html.twig' %}
{% endblock %}
{% block content %}
    <h1>Bienvenue User</h1>
{% endblock %}
{% block footer %}
    {% include 'parts/footer.html.twig' %}
{% endblock %}
