{% extends 'layout/app.html.twig' %}

{% block content %}
    <main class="flex-grow px-6 md:px-12 py-8">
        {% include 'components/search_bar.html.twig' %}

        {% include 'components/category_filters.html.twig' with {
            category: category,
            filter_route: 'app_home',
            filter_base_query: {}
        } %}

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-10">

            {% for property in properties %}
                {% include 'components/card.html.twig' with { property: property } %}
            {% else %}
                <p class="col-span-full text-gray-500 text-sm">Aucun logement disponible.</p>
            {% endfor %}

        </div>
    </main>
{% endblock %}
