{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ category.nom }}{% endblock %}

{% block content %}
    <section>
        <div class="flex flex-row items-center space-x-6">
            <span class="font-bold text-red-600 text-lg">Films <span class="font-medium text-black">dans la catégorie </span></span>
            <nav class="flex space-x-6 text-gray-400 font-medium">
                <a href="#" class="hover:text-gray-700">Action</a>
                <a href="#" class="text-gray-700 font-semibold">{{ category.label }}</a>
                <a href="#" class="hover:text-gray-700 ">Comédie</a>
                <a href="#" class="hover:text-gray-700 ">Science Fiction</a>
            </nav>
        </div>

        <div class="flex flex-col items-center mt-9">
            <a class="relative flex w-full flex-row p-3 items-center justify-center rounded-lg overflow-hidden border hover:scale-105 cursor-pointer transition hover:bg-gray-100">
                    <span class="text-red-600 font-bold mr-2">
                        <svg class="h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>repeat-variant</title><path d="M6,5.75L10.25,10H7V16H13.5L15.5,18H7A2,2 0 0,1 5,16V10H1.75L6,5.75M18,18.25L13.75,14H17V8H10.5L8.5,6H17A2,2 0 0,1 19,8V14H22.25L18,18.25Z" /></svg>
                    </span>
                <span class="capitalize font-medium text-md">Trouver un <span class="text-red-600">film</span> aléatoirement dans la catégorie <span class="text-red-600">aventure</span></span>
            </a>
        </div>
    </section>
    <section class="mt-9">
        <div class="flex items-center justify-between">
            <span class="font-semibold text-gray-700 text-base">Nos recommandations</span>
            <div class="flex items-center space-x-2 fill-gray-500">
                <svg class="h-7 w-7 rounded-full border p-1 hover:border-red-600 hover:fill-red-600 fill-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M13.293 6.293L7.58 12l5.7 5.7 1.41-1.42 -4.3-4.3 4.29-4.293Z"></path>
                </svg>
                <svg class="h-7 w-7 rounded-full border p-1 hover:border-red-600 hover:fill-red-600 fill-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M10.7 17.707l5.7-5.71 -5.71-5.707L9.27 7.7l4.29 4.293 -4.3 4.29Z"></path>
                </svg>
            </div>
        </div>

        <ul class="mt-4 grid grid-cols-2 gap-y-5 sm:grid-cols-3 gap-x-5 ">
            {% include 'parts/movies/square-card-movie.html.twig' %}
            {% include 'parts/movies/square-card-movie.html.twig' %}
            {% include 'parts/movies/square-card-movie.html.twig' %}
        </ul>
    </section>
    <section class="mt-9">
    <div class="flex items-center justify-between">
        <span class="font-semibold text-gray-700 text-base">Les films</span>
    </div>
    <ul class="mt-4 grid grid-cols-2 gap-y-5 sm:grid-cols-3 gap-x-5">
        {% for media in category.media %}
            {% include 'parts/movies/big-card-movie.html.twig' %}
        {% endfor %}
    </ul>
    <button class="flex flex-col items-center mt-9 w-full">
        <a class="relative flex w-full bg-red-600 flex-row p-3 items-center justify-center rounded-lg overflow-hidden border cursor-pointer transition hover:bg-red-700 text-white">
                    <span class="font-bold mr-2">
                        <svg class="h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>plus-circle</title><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>
                    </span>
            <span class="capitalize font-medium text-md">Charger + de films</span>
        </a>
    </button>
    </section>
{% endblock %}
