{% extends 'base.html.twig' %}

{% block title %}
   {{ parent() }} Page de découverte
{% endblock %}

{% block content %}
    <section>
        <nav class="flex space-x-6 text-gray-400 font-medium">
            <a href="" class="hover:text-gray-700">Séries</a>
            <a href="" class="text-gray-700 font-semibold">Films</a>
            <a href="" class="hover:text-gray-700 ">Animés</a>
        </nav>

        <div class="flex flex-col items-center mt-9">
            <a class="relative flex w-full flex-row p-3 items-center justify-center rounded-lg overflow-hidden border hover:scale-105 cursor-pointer transition hover:bg-gray-100">
                    <span class="text-red-600 font-bold mr-2">
                        <svg class="h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>repeat-variant</title><path d="M6,5.75L10.25,10H7V16H13.5L15.5,18H7A2,2 0 0,1 5,16V10H1.75L6,5.75M18,18.25L13.75,14H17V8H10.5L8.5,6H17A2,2 0 0,1 19,8V14H22.25L18,18.25Z" /></svg>
                    </span>
                <span class="capitalize font-medium text-md">Trouver un <span class="text-red-600">film</span> aléatoirement</span>
            </a>
        </div>
    </section>
    <section class="mt-9">
        <div class="flex items-center justify-between">
            <span class="font-semibold text-gray-700 text-base">Nos recommandations</span>
            <div class="flex items-center space-x-2 fill-gray-500">
                <svg class="h-7 w-7 rounded-full border p-1 hover:border-red-600 hover:fill-red-600 fill-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M13.293 6.293L7.58 12l5.7 5.7 1.41-1.42 -4.3-4.3 4.29-4.293Z"></path>
                </svg>
                <svg class="h-7 w-7 rounded-full border p-1 hover:border-red-600 hover:fill-red-600 fill-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M10.7 17.707l5.7-5.71 -5.71-5.707L9.27 7.7l4.29 4.293 -4.3 4.29Z"></path>
                </svg>
            </div>
        </div>

        <ul class="mt-4 grid grid-cols-2 gap-y-5 sm:grid-cols-3 gap-x-5 ">
{#            {% include 'parts/movie_card_homepage.html.twig' %}#}
{#            {% include 'parts/movie_card_homepage.html.twig' %}#}
{#            {% include 'parts/movie_card_homepage.html.twig' %}#}
        </ul>
    </section>
    <section class="mt-9">
        <div class="flex items-center justify-between">
            <span class="font-semibold text-gray-700 text-base">Recommandations par catégories</span>
        </div>

        <div class="mt-4 grid grid-cols-2 gap-y-5 sm:grid-cols-3 gap-x-5">
            {% for category in categories %}
                {% include 'parts/card_category.html.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
