<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streemi {% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-montserrat text-sm bg-white">
    <div class="flex min-h-screen">
        {% include 'parts/structure/left-menu.html.twig' %}

        <main class="flex-1">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
