{% extends 'base.html.twig' %}

{% block title %}Airbnb Clone - Trouvez votre logement de rêve{% endblock %}

{% block body %}
    {% include 'parts/_header.html.twig' %}

    <!-- Main Content -->
    <main class="main-content" style="padding: 50px 100px;">
        {% block layout %}{% endblock %}
    </main>

    {% include 'parts/_footer.html.twig' %}
{% endblock %}
