{% extends 'layout/base.html.twig' %}

{% block title %}Admin — HomeStay{% endblock %}

{% block body %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        {% block admin_content %}{% endblock %}
    </div>
{% endblock %}
