{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="min-h-screen flex flex-col">
        {% include 'layout/partials/app/header.html.twig' %}

        <main class="flex-grow">
            {% block content %}{% endblock %}
        </main>

        {% include 'layout/partials/app/footer.html.twig' %}
    </div>
{% endblock %}
