{% extends 'base.html.twig' %}

{% block title %}{% block page_title %}Airbnb - Locations de vacances{% endblock %} | Airbnb Clone{% endblock %}

{% block stylesheets %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        airbnb: {
                            DEFAULT: '#FF385C',
                            dark: '#E0324F',
                            light: '#FF6B81',
                        }
                    }
                }
            }
        }
    </script>
    <style>
        [x-cloak] { display: none !important; }
    </style>
    {% block extra_styles %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="min-h-screen flex flex-col bg-white">

        {% include 'layout/parts/header.html.twig' %}

        {% block hero %}{% endblock %}

        <main class="flex-1 w-full">
            {% block body %}{% endblock %}
        </main>

        {% include 'layout/parts/footer.html.twig' %}

    </div>
{% endblock %}

{% block javascripts %}
    {# Alpine.js pour le dropdown et les interactions légères #}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% block extra_scripts %}{% endblock %}
{% endblock %}
