{% extends 'email/_layout.html.twig' %}

{% block heading %}Réservation confirmée{% endblock %}

{% block intro %}
    <p>Bonne nouvelle, la réservation est confirmée. Les dates sont désormais verrouillées dans le calendrier du logement.</p>
{% endblock %}
